# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
.idea/
*.swp

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
